.details{
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    width: 400px;
    margin: 40px auto;
    text-align: center;
    background-color:  rgb(255, 255, 128);
    transition: transform 100ms ease-in;
    cursor: pointer;
}
.detail{
  text-align: center;
}

.details:hover{
  transform: scale(1.10);
}

.icons{
  display: flex;
  margin-top: 30px;
  margin-left :70px
  
}

 .icon{
    margin-left:20px;
    margin-right:20px;
}

